.fade-element {
    opacity: 0;
    transform: translateX(1%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateX(0);
  }
  