@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Kanit;
    font-weight: 400;
    src: url(./fonts/Kanit-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Kanit;
    font-weight: 500;
    src: url(./fonts/Kanit-Medium.ttf) format("truetype");
  }
}

body {
  background-color: #27272A;
}


[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.9) !important;
}